@import "fonts.css";

* {
    box-sizing: border-box;
}

body {
    font-family: Lato, Arial, sans-serif;
    min-width: 1020px;
}

.container {
    margin: 0 auto;
    width: 1020px;
    padding: 40px 40px;
}

.get-a-quote {
    background-color: #f06c64;
}

.quote-container {
    height: 654px;
    border-bottom: 6px solid #ea676b;
}

.title {
    margin: 20px 0;
    padding: 10px 0;
    font-family: "Lato Black", Arial, sans-serif;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    letter-spacing: -0.05px;
}

.description {
    margin: -3px 0;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato Light", Arial, sans-serif;
    letter-spacing: -0.22px;
    text-align: justify;
}

.quote {
    margin: 45px 0;
    display: flex;
    justify-content: flex-start;
}

.message-form {
    width: 619px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-item {
    margin-bottom: 16px;
    height: 38px;
    border: none;
    background-color: #d6564f;
    border-radius: 5px;
}

.input-item::placeholder {
    padding-left: 15px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: Lato, Arial, sans-serif;
    letter-spacing: 0.25px;
    text-align: justify;
}

.message-form .message {
    height: 202px;
}

.contact-info {
    margin-left: 21px;
}

.contact-info .title {
    margin: 0;
    padding-top: 2px;
    font-size: 18px;
    letter-spacing: 0.1px;
}

.contact-info .description {
    margin: 1px 0;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.05px;
}

.contact-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 20px 0;
    padding: 0;
}

.contact-item {
    display: flex;
    text-decoration: none;
}

.contact-item a {
    color: #f0d8d9;
}

.footer {
    background-color: #2d303a;
}

.footer-container {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyrights {
    margin: -3px 0px 0 2px;
}

.social-icons {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

.social-icons .icon {
    margin-right: 8px;
}

.social-icons .icon:nth-child(4n+4) {
    margin-right: 0px;
}

.social-icons .icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}